<%= form_for(@commnet) do |f| %>
  <% if @commnet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commnet.errors.count, "error") %> prohibited this commnet from being saved:</h2>

      <ul>
      <% @commnet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.number_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
